body{
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

p{
  color: grey;
}

.big-heading{
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid{
  padding: 7% 15%;
}

/* Section */
.colored-section{
  background: #ff4c60;
  color: #fff;
}
.white-section{
  background-color: #fff;
}

.navbar{
  padding: 0 0 4.5rem;
}

/* Navigation Bar */
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 20px;
}
.nav-link{
  font-family: "Montserrat";
  font-size: 1.2rem;
}

/* Download Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid{
  padding: 3% 15% 14%;
  background: linear-gradient(to bottom right, #33ccff 0%, #ff00ff 100%);
  color: #fff;
  text-align: left;
}

/* Title Image */
.iphone{
  transform: rotate(25deg);
  width: 55%;
  position: absolute;
}

/* Features Section */
#features{
  position: relative;
}

.feature-titles{
  font-weight:bolder;
}
.feature-box{
  padding: 5%;
}

.icons{
  color: #e84a5f;
  margin-bottom: 1.5rem;
}
.icons:hover{
  color: red;
}

/* Testimonials Section */
#testimonials{
  height: 620px;
}
.testimonial-image{
  border-radius: 100%;
  width: 12%;
  margin: 20px;
}
.testimonial-text{
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.5;
}

#press{
  padding: 3% 0 3%;
}
.press-logo{
  width: 10%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing{
  padding: 100px;
}
.services{
  font-weight: bolder;
}
.section-heading{
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-column{
  padding: 3% 2%;
}
.pricing-text{
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.5;
}

/* Footer Section */
#footer{
  font-family: "Montserrat"
}
.footer-icon{
  margin: 20px 10px;
}
.copyright-text{
  letter-spacing: 1px;
  font-family: "Ubuntu"
}

@media (max-width: 1050px) {
  #title{
    text-align: center;
  }
  .iphone{
    position: static;
    transform: rotate(0);
  }
}
